WSSecurityExampleWS/WebContent/wsdl/sayhellosecure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SayHiSecureService" targetNamespace="http://tutorial.scalefocus.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tutorial.scalefocus.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://tutorial.scalefocus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://tutorial.scalefocus.com" version="1.0">

  <xs:element name="Greeting" type="tns:GreetingType"/>

  <xs:element name="sayHiSecureOperation" type="tns:sayHiSecureOperation"/>

  <xs:element name="sayHiSecureOperationResponse" type="tns:sayHiSecureOperationResponse"/>

  <xs:complexType name="sayHiSecureOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="sayHiSecurePartIn" type="tns:GreetingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GreetingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="nameElem" type="xs:string"/>
      <xs:element minOccurs="0" name="greetingElem" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiSecureOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="textOut" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHiSecureOperation">
    <wsdl:part name="parameters" element="tns:sayHiSecureOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiSecureOperationResponse">
    <wsdl:part name="parameters" element="tns:sayHiSecureOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SayHiSecure">
    <wsdl:operation name="sayHiSecureOperation">
      <wsdl:input name="sayHiSecureOperation" message="tns:sayHiSecureOperation">
    </wsdl:input>
      <wsdl:output name="sayHiSecureOperationResponse" message="tns:sayHiSecureOperationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SayHiSecureServiceSoapBinding" type="tns:SayHiSecure">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHiSecureOperation">
      <soap:operation soapAction="sayHiSecureAction" style="document"/>
      <wsdl:input name="sayHiSecureOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiSecureOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SayHiSecureService">
    <wsdl:port name="SayHiSecurePort" binding="tns:SayHiSecureServiceSoapBinding">
      <soap:address location="http://localhost:9090/SayHiSecurePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
